/*This selector sets the base font-size and font-family for the whole site*/
html {
    font-size: 16px;
    font-family: 'Courier New', Courier, monospace;
}

a {
    text-decoration: none;
    color: var(--text);
}

.center {
    margin: auto;
    width: 50%;
    border: 3px solid green;
    /* padding: 10px; */
}

/*Variables created for this site*/
:root {
    --green: #2e8b57;
    --text: #841617;
    --background-hover: #76c161;
    --text-hover: #c16176;
    --body: #daeae1;
    --box-shadow: #63ba87;
    --shadow: #9e1b32;
}


/*This selector establishes the background color for the body of the site*/
body {
    background-color: var(--body);
}


/*The following selectors define the style of the header*/
header {
    background-color: var(--green);
    width: 100%;
    height: auto;
    margin-top: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* position: fixed; */
}

/*Styling for my name*/
.name {
    color: var(--text);
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px #8b2e47;
    font-size: 3rem;
    padding: 1rem 2rem;
}

/*Styling for the links in the navbar. Using the flex properties to align this container to the right of the page*/
.navbar ul {
    display: flex;
    justify-content: flex-end;
}

.navbar a {
    color: var(--text);
    text-align: center;
    padding: 1rem;
    text-decoration: none;
    font-size: 1.5rem;
}

.navbar a:hover {
    font-weight: bolder;
    text-shadow: 0.05rem 0.05rem var(--shadow);
    /* background-color: var(--background-hover); */
    color: var(--text-hover);
}

/*This is the end of header styling*/


/*The following selector define the style applied to the #applications id element*/
#applications {
    border-bottom: 0.5rem dashed var(--box-shadow);
    padding-top: 1rem;
    padding-bottom: 1rem;
}

/*Styling for the 1st application*/
.app1 {
    position: relative;
}

.app1 img {
    display: block;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2rem;
    border: var(--green);
    border-style: solid;
    border-width: 0.2rem;
}

.app1-text {
    position: absolute;
    bottom: 1rem;
    left: 0.2rem;
    background-color: var(--green);
    color: var(--text);
    padding: 0.75rem;
}


/*Container where images 2-5 are*/
.apps {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.apps2-5 {
    position: relative;
    margin-bottom: 2rem;
}

.apps2-5 img {
    border: var(--green);
    border-style: solid;
    border-width: 0.2rem;
}

.app2-5-text {
    position: absolute;
    bottom: 1rem;
    left: 0.2rem;
    background-color: var(--green);
    color: var(--text);
    padding: 0.75rem;
}

/*This is the end of #applications styling*/


/*The following selectors define the style of the About Me section*/
#aboutme {
    background-color: var(--hover);
    margin: 3rem auto;
    width: 50%;
    padding: 1rem;
    text-align: center;
    border: 0.5rem double var(--green);
    box-shadow: 1.5rem 1.5rem 0.5rem var(--box-shadow);
}

#aboutme h2 {
    font-size: 2rem;
    color: var(--text);
}

/*Container for the image and < p >*/
.imgcontainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

#profilepic {
    width: 30%;
    padding: 2rem;
}

.imgcontainer p {
    text-align: justify;
    padding: 2rem;
    line-height: 1.5rem;
}

/*This is the end of About Me styling*/


/*The following selectors define the style of the footer*/
footer {
    background-color: var(--green);
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    bottom: 0;
    justify-content: center;
    align-items: center;
    padding: 0.75rem 0rem;
}

footer p,
#social-media {
    padding-left: 1rem;
    padding-right: 1rem;
}

/*This is the end of footer styling*/


@media screen and (max-width: 400px) {
    .name {
        font-size: 1.8rem;
    }

    nav {
        flex-direction: row;
        flex-wrap: nowrap;
    }

    nav li {
        color: var(--text);
        padding: 0.5rem 1rem;
    }

    nav a {
        padding: 0rem;
        text-decoration: none;
        font-size: 1rem;
        line-height: 1rem;
    }

    #applications {
        padding: 0 0 1rem 0;
        width: 100%;
        display: flex;
        flex-wrap: wrap;
    }

    .app1,
    .apps {
        justify-content: center;
    }

    img {
        width: 80%;
        padding: 0;
    }
}