/*This selector sets the base font-size and font-family for the whole site*/
html {
    font-size: 16px;
    font-family: 'Courier New', Courier, monospace;
}

:root {
    --green: #2e8b57;
    --light-green: #daf7a6;
    --red: #900c3f;
}

header {
    overflow: hidden;
    background-color: var(--green);
    position: fixed;
    width: 100%;
    height: auto;
}

.name {
    color: var(--red);
    float: left;
    display: inline-block;
    font-size: 3rem;
    padding: 1rem 2rem;
}

nav a {
    float: right;
    display: inline-block;
    color: var(--red);
    text-align: center;
    padding: 1rem;
    text-decoration: none;
    font-size: 1.5rem;
    line-height: 3rem;
}

nav a:hover {
    font-weight: bolder;
    background-color: var(--light-green)
}

body {
    background-color: ;
   
}

@media screen and (max-width: 1068px){
    
}

@media screen and (max-width: 583px){

}